body{
    margin:0;
    padding:0;
    background:#f4f7fc;
    font-family:Arial, sans-serif;
}

.container{
    width:450px;
    margin:50px auto;
    background:white;
    padding:30px;
    border-radius:12px;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
}

h1,h2{
    text-align:center;
    color:#0d6efd;
}

label{
    font-weight:bold;
}

select,
input{
    width:100%;
    padding:12px;
    margin-top:8px;
    margin-bottom:18px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:16px;
}

button{
    width:48%;
    padding:12px;
    border:none;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
}

button[type="submit"]{
    background:#0d6efd;
    color:white;
}

button[type="reset"]{
    background:#dc3545;
    color:white;
}